{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cart</title>
	<link
	href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
	rel="stylesheet"
  />
	<link href="{% static '/Styles/CartPageStyle.css' %}" rel="stylesheet">

</head>
<body>
	<div class="row"> 
		<div class="col-lg-12">
			<div class="box-element">
				
				<a  class="btn btn-outline-dark" href=" /{{admin.slug}}/store/ ">&#x2190; Continue Shopping</a>
				
				
				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Items: <strong>{{order.get_cart_is}}</strong></h5></th>
						<th><h5>Total:<strong> ${{order.get_cart_total|floatformat:2}}</strong></h5></th>
						<th>
							
							<a  style="float:right; margin:5px;" class="btn btn-success" href="/{{admin.slug}}/store/Cart/Checkout">Checkout</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				{% for i in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{i.Product.PRDimage.url}}"></div>
					<div style="flex:2"><p>{{i.Product.PRDname}}</p></div>
					<div style="flex:1"><p>${{i.Product.price|floatformat:2}}</p></div>
					<div style="flex:1">
						<p class="quantity">{{i.quantity}}</p>
						<div class="quantity">
							<a data-product="{{i.Product.PRDnumber}}" data-action="add" class="btn" id="btn" src="{% static  'images/arrow-up.png' %}"> 
								<span class="material-icons-sharp">
									keyboard_arrow_up
	
									</span>

							</a>
							<a data-product="{{i.Product.PRDnumber}}" data-action="remove" class="btn" id="btn" src="{% static  'images/arrow-down.png' %}"> 
								<span class="material-icons-sharp">
									keyboard_arrow_down
									</span>

							</a>
							
						</div>
					</div>
					<div style="flex:1"><p>${{i.get_total|floatformat:2}}</p></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</body>
<script  src="{% static '/JS/Cart.js' %}"></script>
<script>
			
function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');
</script>
</html>
	
