{% load static %}
<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Orders</title>
    
        <link
          href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="{% static '/Styles/OrdersStyle.css' %}" />
      </head>

<body>
    <!-- ################### Side Bar Start #######################-->
    <div class="container">
        <aside>
          <div class="top">
            <div class="logo">
              <img src="{% static '/images/Logo.png' %}" alt="Logo" />
              <h2>MyStore</h2>
            </div>
            <div class="close" id="close-btn">
              <span class="material-icons-sharp"> close </span>
            </div>
          </div>
  
          
          <div class="sidebar">
            <a href="/{{admin.slug}}/" >
              <span class="material-icons-sharp"> dashboard </span>
              <h3>Dashboard</h3>
            </a>
            <a href="/{{admin.slug}}/Customers" >
              <span class="material-icons-sharp"> person_outline </span>
              <h3>Customers</h3>
            </a>
            <a href="/{{admin.slug}}/Orders" class="active">
              <span class="material-icons-sharp"> receipt_long </span>
              <h3>Orders</h3>
            </a>
            <a href="/{{admin.slug}}/Analytics">
              <span class="material-icons-sharp"> insights </span>
              <h3>Analytics</h3>
            </a>
            
            <a href="/{{admin.slug}}/Products">
              <span class="material-icons-sharp"> inventory </span>
              <h3>Products</h3>
            </a>
            <a href="/{{admin.slug}}/store">
              <span class="material-icons-sharp">
                preview
                </span>
              <h3>View Store</h3>
            </a>
            <a href="/{{admin.slug}}/Settings" >
              <span class="material-icons-sharp"> settings </span>
              <h3>Settings</h3>
            </a>
            <a href="/HomePage">
              <span class="material-icons-sharp"> logout </span>
              <h3>Logout</h3>
            </a>
          </div>
        </aside>
           
        <!-- ################### Side Bar Finish #######################-->

         

        <main>
            <h1>Orders</h1>
    
            
    
            <div class="insights">
              <div div class="item add-order" id="AddOrdersButton" onclick="AddOrders()" >
                  <div>
                    <span class="material-icons-sharp"> add </span>
                    <h3>Create New Order</h3>
                  </div>
                </div>
  
          
          </div>

          <div class="popup-content" id="PopUpMenu">
            <span class="material-icons-sharp">
              add_shopping_cart
            </span>
            <span class="material-icons-sharp" id="close" onclick="ClosePopUp()">
              highlight_off
            </span>
            
            <input type="text" name="Order Number" placeholder="Order Number">
            <input type="text" name="Order Name" placeholder="Order Name">
            <input type="date" name="Date" placeholder="Date">
            <input type="text" name="OrderStatus" placeholder="OrderStatus">
            <input type="text" name="Total" placeholder="Total">
            <input type="text" name="Details" placeholder="Details">
            <a href="#" class="Add-Order-button">Add Order</a>
          </div>
    
            <div class="Orders-list">
              <h2>Orders</h2>
              <table id="Orders-list--table">
                <thead>
                  <tr>
                    <th>Order Number</th>
                    <th>Customer Name</th>
                    <th>Date</th>
                    <th>Order Status</th>
                    <th>Total</th>
                    <th><span style="color: rgba(0, 0, 255, 0.693);">Details</span></th>
                  </tr>
                </thead>
                <p>
                  {% for i in ords %}
                  {% if i.Admins.slug == admin.slug %}
                  <tr>
                  <td data-label="name">{{ i.orNumber }}</td>
                  <td data-label="name"></td>
                  <td data-label="name"></td>
                  <td data-label="name">{{ i.status }}</td>
                  <td data-label="name">{{ i.products.all|join:", " }}</td>
                  </tr>   
                  {% endif %}       
                  {% endfor %}
                </p>
              </table>
           
            </div>
          </main>
    
          <div class="right">
            <div class="top">
              <button id="menu-btn">
                <span class="material-icons-sharp"> menu </span>
              </button>
              <div class="theme-toggler">
                <span class="material-icons-sharp active"> light_mode </span>
                <span class="material-icons-sharp"> dark_mode </span>
              </div>
              <div class="profile">
                <div class="info">
                  <p> <b>{{admin.username}}</b></p>
                  <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                  <img src="/MyStore/static/images/Logo.png" alt="Profile Picture" />
                </div>
              </div>
            </div>


           

          </div>
        </div>
</body>

<script src="/constants/recent-order-data.js"> </script>
<script>
  function AddOrders() {

    document.getElementById("PopUpMenu").style.display = "block";
    document.getElementById("AddOrdersButton").style.display = "none";
  }

  function ClosePopUp() {
    document.getElementById("PopUpMenu").style.display = "none";
    document.getElementById("AddOrdersButton").style.display = "flex";
  }
</script>
</html>