{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Products</title>
    
        <link
          href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
          rel="stylesheet"
        />
        <link rel="stylesheet" href="{% static '/Styles/ProductsStyles.css' %}" />
      </head>
<body>
     <!-- ################### Side Bar Start #######################-->
     <div class="container">
        <aside>
          <div class="top">
            <div class="logo">
              <img src="{% static '/images/Logo.png' %}" alt="Logo" />
              <h2>MyStore</h2>
            </div>
            <div class="close" id="close-btn">
              <span class="material-icons-sharp"> close </span>
            </div>
          </div>
  
          <div class="sidebar">
            <a href="/{{admin.slug}}/" >
              <span class="material-icons-sharp"> dashboard </span>
              <h3>Dashboard</h3>
            </a>
            <a href="/{{admin.slug}}/Customers" >
              <span class="material-icons-sharp"> person_outline </span>
              <h3>Customers</h3>
            </a>
            <a href="/{{admin.slug}}/Orders" >
              <span class="material-icons-sharp"> receipt_long </span>
              <h3>Orders</h3>
            </a>
            <a href="/{{admin.slug}}/Analytics">
              <span class="material-icons-sharp"> insights </span>
              <h3>Analytics</h3>
            </a>
            
            <a href="/{{admin.slug}}/Products" class="active">
              <span class="material-icons-sharp"> inventory </span>
              <h3>Products</h3>
            </a>
            <a href="">
              <span class="material-icons-sharp">
                preview
                </span>
              <h3>View Store</h3>
            </a>
            <a href="/{{admin.slug}}/Settings" >
              <span class="material-icons-sharp"> settings </span>
              <h3>Settings</h3>
            </a>
            <a href="#">
              <span class="material-icons-sharp"> add </span>
              <h3>Add Product</h3>
            </a>
            <a href="/HomePage">
              <span class="material-icons-sharp"> logout </span>
              <h3>Logout</h3>
            </a>
          </div>
        </aside>
           
        <!-- ################### Side Bar Finish #######################-->

         

        <main>
            <h1>Products</h1>
    
            
    
            <div class="insights">
              <div class="item add-product" id="AddItemButton" onclick="AddProduct()">
                <div>
                  <span class="material-icons-sharp"> add </span>
                  <h3>Add Product</h3>
      
                </div>
      
              </div>
      
            <form  method="POST">{% csrf_token %}
              <div class="popup-content" id="PopUpMenu">
                <span class="material-icons-sharp">
                  add_shopping_cart
                </span>
                <span class="material-icons-sharp" id="close" onclick="ClosePopUp()">
                  highlight_off
                </span>
               
                <input type="file" id="img" name="img" accept="image/*" placeholder="Upload Product Image">
                <input type="text" name="Name" placeholder="Name">
                <input type="number" name="Number" placeholder="Number">
                <input type="number" name="Quantity" placeholder="Quantity">
                <input type="text" name="Price" placeholder="Price">
                <input type="text" name="Description" placeholder="Description" id="Description">
                <button type="submit" class="Add-Product-button">Add Pr3oduct</button>
              </form>
              </div>
      
      
            </div>
    
            <div class="customer-info">
              <h2>Products </h2>
              <table id="customer-info--table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Rate/5</th>
                  </tr>
                </thead>
                <p>
                  {% for i in prod %}
                  {% if i.Admins.slug == admin.slug %}
                  <tr>
                  <td data-label="name">{{ i.PRDname }}</td>
                  <td data-label="name">{{ i.PRDnumber }}</td>
                  <td data-label="name">{{ i.quantity }}</td>
                  <td data-label="name">{{ i.price }}</td>
                  </tr>   
                  {% endif %}       
                  {% endfor %}
                </p>

                <!-- Add tbody here | JS insertion -->
              </table>
           
            </div>
          </main>
    
          <div class="right">
            <div class="top">
              <button id="menu-btn">
                <span class="material-icons-sharp"> menu </span>
              </button>
              <div class="theme-toggler">
                <span class="material-icons-sharp active"> light_mode </span>
                <span class="material-icons-sharp"> dark_mode </span>
              </div>
              <div class="profile">
                <div class="info">
                  <p> <b>{{admin.username}}</b></p>
                  <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                  <img src="{% static '/images/Logo.png' %}" alt="Profile Picture" />
                </div>
              </div>
            </div>


           

          </div>
        </div>
</body>
<script src="{% static '/JS/CustomerTable.js' %}"></script>
<script>
  function AddProduct() {

    document.getElementById("PopUpMenu").style.display = "block";
    document.getElementById("AddItemButton").style.display = "none";
  }

  function ClosePopUp() {
    document.getElementById("PopUpMenu").style.display = "none";
    document.getElementById("AddItemButton").style.display = "flex";
  }


</script>
</html>