{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
    <link rel="stylesheet" href="{% static '/Styles/UserLoginStyle.css' %}">
</head>
<body>
    
<main>
    
        <div class="wrapper">
           <div class="title">
              Login 
           </div>
           <form method="POST" action="" > 
            {% csrf_token %}
            
          
            <div class="field">
               <input id="name" input type="text" name="name" required>
               <label>User name</label>
            </div>
              <div class="field">
                 <input id="email" input type="email" name="email"required>
                 <label>Email Address</label>
              </div>
              <div class="field">
                 <input id="password" input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,16}$" name="password" required>
                 <label>Password</label>
              </div>
              <div class="field">
                <input id="phonenumber" input type="text" pattern="[0]{1}[5]{1}[0-9]{8}" name="phonenumber" required>
                <label>Phone</label>
             </div>
              <div class="content">
                
                 
              </div>
              <div class="field">
                 <input type="submit" value="Login">
              </div>
             
           </form>
        </div>
     
  </main>
</body>
</html>